{% extends 'main.html' %}

{% block content %}



  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper" dir="rtl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
         الصفحة الرئيسية
      </h1>
      <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i>  الصفحة الرئيسية</a></li>

      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

 <div class="box box-primary">
 </div>

  <div class="box-body">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">


              <p>اجمالي الكورسات</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-stalker"></i>
            </div>
            <a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">

              <p>اجمالي الطلاب</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-stalker"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- ./col -->
         </div>
      <div class="row">
        <div class="col-lg-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">

              <p>اجمالي المشرفات </p>
            </div>
            <div class="icon">
              <i class="ion ion-person-stalker"></i>
            </div>
            <a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
          </div>
           <div class="col-lg-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">

              <p>اجمالي المعلمات </p>
            </div>
            <div class="icon">
              <i class="ion ion-person-stalker"></i>
            </div>
            <a href="" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->

      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="height:150px">

            <div class="box-body" style="height:150px">

                <br>

          </div>

      </div>
</div></div></div>
      </section>
      <!-- right col -->
    </div>






{% endblock %}