{% extends 'base.html' %}

{% block content %}




  <div class="content-wrapper" dir="rtl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       <h1 class="align-left">
        قائمة الطالبات
      </h1>

       <ol class="breadcrumb" dir="rtl">
        <li><a href="#"><i class="fa fa-dashboard"></i> الصفحة الرئيسية</a></li>
       <li>الطالبات</li>
        <li class="active">قائمة الطالبات</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
      <div class="row">
        <div class="col-xs-12">

          <div class="box box-primary">

            <div class="box-header with-border">
              </div>

            <div class="box-body">
                 <table  id="example1" class="table table-bordered table-striped">
                <thead>
                  <th>الرقم التسلسلي</th>
                  <th>الاسم</th>

                  <th>رقم الهاتف</th>


 <th>التقارير</th>

                </thead>

                <tbody>
  {% for stu in student_list %}
                        <tr>
  <td>{{ stu.user_id}}</td>
                           <td>{{ stu.user.name}}</td>

                            <td>{{ stu.user.phone}}</td>


                          <td>
                              <a href="" >   <button class="btn btn-success btn-sm edit btn-flat" data-id="1"><i class="fa fa-edit"></i> Edit</button></a>
                              <a href="" > <button class="btn btn-danger btn-sm delete btn-flat" data-id="2"><i class="fa fa-trash"></i> Delete</button></a>
                          </td>
                        </tr>
                     {% endfor %}
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}


