{% extends 'main.html' %}

{% block content %}




  <div class="content-wrapper" dir="rtl">
    <!-- Content Header (Page header) -->
    <section class="content-header" dir="rtl">
      <h1>
   قائمة الحلقات
      </h1>
      <ol class="breadcrumb" dir="rtl">
        <li><a href="#"><i class="fa fa-dashboard"></i> الصفحة الرئيسية</a></li>
        <li>الحلقات التعليمية</li>
        <li class="active">قائمة الحلقات</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
          <div class="box-header with-border">
               <a href="{%  url 'course-add' %}"  class="btn btn-primary btn-sm btn-flat"><i class="fa fa-plus"></i> حلقة تعليمية جديدة </a>
            </div>
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>

                  <th>اسم الحلقة التعليمية</th>
                  <th>معلمة الحلقة </th>
                  <th> بداية الدرس</th>
                  <th>انتهاء الدرس</th>
                  <th>تاريخ انشاء الحلقة</th>
                  <th>الضبط</th>

                <th> طالبات الحلقة</th>

                </thead>

                <tbody>
{% for course in courses_list %}
                        <tr>

                          <td><b>{{ course.courseName }}</b></td>
                               {% if course.teacher == null  %}
 <td>لم يتم تعيين</td>
{% else  %}
                               <td>{{ course.teacher.name }}</td>
                             {% endif %}

                            <td>{{ course.time_in }}</td>
                            <td>{{ course.time_out }}</td>
                          <td>{{ course.created_at }}</td>


                          <td>
                              <a href="{%  url 'course-update' course.pk %}" > <button class="btn btn-success btn-sm edit btn-flat" ><i class="fa fa-edit"></i> تعديل </button></a>


                                <button class="btn btn-danger btn-sm delete btn-flat" data-id="{{ course.pk}}"><i class="fa fa-trash"></i> حذف</button>

                              </td>


                            <td>


                          <a href="{%  url 'student-in-course' course.id %}" > <button class="btn btn-info btn-sm add  btn-flat"><i class="fa fa-eye"></i> عرض</button></a>
                           </td>

                        </tr>
 {% endfor %}
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

    </section>


  </div>


{% endblock %}

{% block added %}

{%  include 'course_delete_confirm.html' %}
	{% endblock added  %}

{% block javascript %}
<script>
$(function(){




$('.delete').click(function(e){

 e.preventDefault();

 $('#delete').modal('show');

  var id = $(this).data('id');

  getRow(id);
  });
 });

function getRow(id){
  $.ajax({
    type: 'GET',
    url: "{%  url 'course-delete'  %}",
    data: {"id":id},

    success: function(response){
  $('.course_id').val(id);

      $('.course_name').html(response.name);
    }
  });
}

</script>
	{% endblock javascript %}

