{% extends 'main_header.html' %}
{% load static %}
{% block content %}
	<style type="text/css">
.text-black{


    color:  blue !important;
    margin-bottom: 22px;
  }

</style>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" dir="rtl">
      <h1 class="align-left">
       تواصل معنا
      </h1>
      <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i> الصفحة الرئيسية</a></li>

        <li class="active">تواصل معنا</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
 <div class="row">

           <div class="box box-primary">
            </div>


            <div class="box-body" >

<div class="container">
        <div class="row">

            <div class="col-md-9">
 <div class="box" style="height:405px">

            <div class="box-header with-border">

            <div class="box-body">


    <div class="container-fluid col-md-12 content-below-nav">





        <p style="text-align:justify">
            <div style="direction: rtl;">
اهلا بكم في اكاديمية حاملات المسك.
</div>
        </p>

        <br>
To communicate:
     <br>Hanan Saad Talea -<a href="mailto: hsamtq1419@gmail.com">hsamtq1419@gmail.com</a>
    <br>SarahNawaf  -<a href=mailto:ndjl188@gmail.com">ndjl188@gmail.com</a>
    <br>Alshikah fayz Alsubaie -<a href="mailto:sh1998fn@gmail.com">sh1998fn@gmail.com</a>

    <br>asma yahya hussan-<a href="mailto:asma.hussan10@gmail.com">asma.hussan10@gmail.com</a>
    <br>Bushra shaher saeed -<a href="mailto:bushrah1122@icloud.com">bushrah1122@icloud.com</a>

    <br>Ebtihal mansour  -<a href="mailto:abte3692@hotmail.com">abte3692@hotmail.com</a>

    </div>
            </div>
          </div>
            </div>
            </div>
<div class="col-md-3" >
                <div class="card card-body" style="text-align: center">

                    <div class="circular--portrait">
                    <img  src="{% static 'img/baclog.JPG' %}" >
                    </div>
                    <hr>
                    <h3 style="text-align: center">اكاديمية حاملات المسك</h3>
                    <hr>
                </div>
            </div>
        </div>

        </div>
            </div>
</div>


    </section>
  </div>

{% endblock %}


