{%  include 'registration/signup.html' %}
{% extends 'base.html' %}
{% block content %}
  <div class="content-wrapper">
   <div class="container">
         <div class="row2">
     <div class="col-md-3 no-float">

                <div class="profile">

                    <center><h3 style="margin-top: 22px;">Profile</h3></center>
<div class="profile-pic">
                    <img  src="{{ student.profile_pic.url }}"  >
      </div>
 <div class="space">
 </div>
                    <div class="margraw" >
    <div class="raw" >
     <div class="hello-msg"><b> first name  : </b>{{student.first_name}}</div>



    </div>

             <div class="raw">
                 <div class="hello-msg"> <b>last name  :</b>{{student.last_name}} </div>


                  </div>
                  <div class="raw">

                 <div class="hello-msg"><b> Email  : </b> {{student.email}}  </div>


                       </div>
             <div class="raw">
                      <div class="hello-msg"> <b>Phone : </b>{{student.phone}}</div>


                 </div>
                 <div class="raw">

                <div class="hello-msg"><b>birthday  :</b> {{student.birthday}}</div>


              </div>
                </div>

            </div>
           </div>
       <div class="col-md-9 no-float">



    <section class="content-header">
      <h1>
        Account
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Account</li>
        <li class="active">Change Password</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

      <div class="row">


          <div class="box">

  <div class="row">


<center><h3 style="margin-top: 11px;">Change Password</h3></center>

             </div>


            <div class="box-body" style="padding: 20px;">
               <div class="row">

<div class="col-md-2">
     </div>
<div class="col-md-6">


 <div id='PasswordChnageForm'>
        <form method="post" action="">
        {% csrf_token %}

                    <div class="row" style="margin-left: 22 px;">

          <table class = 'table table-hover'>


                <tr>
                  <td>old password</td>
                  <td>{{form.old_password}}</td>
                </tr>
<tr>
                  <td> new password </td>
                  <td>{{form.new_password1}}</td>
                </tr>
              <tr>
                  <td>Confirm new password </td>
                  <td>{{form.new_password2}}</td>
                </tr>

               <tr>
                   <td></td>
                    <td><button type="submit" style="margin-top: 30px;" class="btn btn-primary">save</button></td>

                </tr>
          </table>

      </div>


         </form>



        </div>
 </div>
    </div>
            </div>

        </div>
      </div>
    </section>
 </div>
    </div>
           </div>
        </div>

{% endblock %}
