{% extends 'main.html' %}

{% block content %}




  <div class="content-wrapper" dir="rtl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        قائمة الطالبات
      </h1>

       <ol class="breadcrumb" dir="rtl">
        <li><a href="#"><i class="fa fa-dashboard"></i> الصفحة الرئيسية</a></li>
       <li>الطالبات</li>
        <li class="active">قائمة الطالبات</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
      <div class="row">
        <div class="col-xs-12">

          <div class="box box-primary">

            <div class="box-header with-border">
               <a href="{% url 'add-student' %}"  class="btn btn-primary btn-sm btn-flat"><i class="fa fa-plus"></i>  اظافة طالبة جديد</a>



              </div>

            <div class="box-body" style="padding: 20px;">
                 <table  id="example1" class="table table-bordered table-striped">
                <thead>

                  <th>الاسم</th>
                    <th>تاريخ الميلاد </th>
                  <th>رقم الهاتف</th>



                  <th>الاجراءت</th>
                </thead>

                <tbody>
  {% for stu in student_list %}
                        <tr>

                           <td><b>{{ stu.user.name}}</b></td>
                             <td>{{ stu.user.birthday }}</td>
                            <td>{{ stu.user.phone}}</td>


                          <td>
                               <a href="{%  url 'student-update' stu.user.pk %}" > <button class="btn btn-success btn-sm edit btn-flat" ><i class="fa fa-edit"></i> تعديل </button></a>
                      <button class="btn btn-danger btn-sm delete btn-flat" data-id="{{ stu.user.pk}}"><i class="fa fa-trash"></i> حذف</button>


                            </td>
                        </tr>
                     {% endfor %}
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}
{% block added %}

{%  include 'student_delete_confirm.html' %}
	{% endblock added  %}

{% block javascript %}
<script>
$(function(){




$('.delete').click(function(e){

 e.preventDefault();

 $('#delete').modal('show');

  var id = $(this).data('id');

  getRow(id);
  });
 });

function getRow(id){
  $.ajax({
    type: 'GET',
    url: "{%  url 'student-delete'  %}",
    data: {"id":id},

    success: function(response){
  $('.stuid').val(id);

      $('.stu_name').html(response.name);
    }
  });
}

</script>
	{% endblock javascript %}

