{% extends 'main.html' %}

{% block content %}
	<style type="text/css">
.text-black{


    color:  blue !important;
    margin-bottom: 22px;
  }

</style>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Project
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>

        <li class="active">About Us</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
                 <center>  <h3 class="text-black" >  Welcome to our project</h3> </center>
               </div>
            <div class="box-body">


    <div class="container-fluid col-md-12 content-below-nav">





        <p style="text-align:justify">
            <div style="direction: rtl;">
اهلا بكم في مشروعنا
مشروعنا هوه مشروع تخرج لطلاب علوم الحاسب نود فيه افاده المعلمين والطلاب في تحضير الطلاب.  لان الطرق القديمه المستخدمه في تحضير الطلاب تقوم بتضييع الوقت والجهد . فمشروعنا يعتمد على التحضير بالتعرف على الوجه فبذالك نحرص ع حضور الطلاب وعدم تغيبهم كما تعرفون حضورهم مهم لفهم الماده. نتمنى ان يخدم مشروعنا الجميع وان ينال على اعجابكم ورضاكم، تمنوا لنا التوفيق الدائم .
</div>
        </p>
        <br><p style="text-align:justify">Our project is a graduation project for computer science students.
        Our goal is would to benefit teachers as well as students in automating students attendance process.
        Old methods used to record students attendance are wasting precious time from teachers and their efforts. Our project uses face recognition technology to record attendance. Attending classes is important for students in twofold. They improve their understanding and knowledge by not missing classes and they get rewarded by giving them attendance grades. We want them to gain the knowledge and marks they deserve without wrongfully marked absent just because of a systematic error. We hope that our project will serve everyone and reach their satisfaction, wish us success.
    </p>
        <br>
To communicate:
     <br>Hanan Saad Talea -<a href="mailto: hsamtq1419@gmail.com">hsamtq1419@gmail.com</a>
    <br>SarahNawaf  -<a href=mailto:ndjl188@gmail.com">ndjl188@gmail.com</a>
    <br>Alshikah fayz Alsubaie -<a href="mailto:sh1998fn@gmail.com">sh1998fn@gmail.com</a>

    <br>asma yahya hussan-<a href="mailto:asma.hussan10@gmail.com">asma.hussan10@gmail.com</a>
    <br>Bushra shaher saeed -<a href="mailto:bushrah1122@icloud.com">bushrah1122@icloud.com</a>

    <br>Ebtihal mansour  -<a href="mailto:abte3692@hotmail.com">abte3692@hotmail.com</a>

    </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}



{